<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>フォト管理アプリ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <h1>フォト管理アプリ</h1>

    <nav>
        <a href="{{ url_for('index') }}">設定</a>
        <a href="{{ url_for('search') }}">カウント</a>
        <a href="/calendar">検索カレンダー</a>
    </nav>
</header>

<div class="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>