body {
    font-family: Arial, sans-serif;
    background-color: #f5f5fa;
    margin: 0;
    padding: 0;
}
/* 検索画面全体 */
.search-card{
    width:95%;
    margin:auto;
}
/* 検索画面 */
.search-card-inner{
    display:flex;
    align-items:center;
    justify-content:space-between;
    height:80vh;
}

/* 左：情報 */
.search-info{
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    font-family:
    "Hiragino Sans",
    "Segoe UI",
    "Meiryo",
    sans-serif;
}

/* 右：写真 */
.search-image{
    width:40%;
    display:flex;
    justify-content:flex-end;
}

.search-image img{
    width:300px;
    height:300px;
    object-fit:cover;
}

/* 情報ブロック */
.info-item{
    margin-bottom:15px;
}
/* 画面右側表示している値（”商品名”、”検索回数”など） */
.label{
    font-size:12px;
    color:#777;
}
/* 右側の値の中身 */
.value{
    font-size:60px;
    font-weight:bold;
}

/* 警告表示 */
.warning{
    color:red;
    font-weight:bold;
}

/* タブレット */
@media (min-width: 768px) and (max-width: 1024px){
    .search-image{
        width:50%;
        position:absolute;
        right:100px;
        top:100px;
    }
}
