<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>MATERUA管理アプリ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <div style="margin-left:auto;">

</div></div>

</head>
<body>

<header>
    <h1>MATERUA管理アプリ</h1>

    <nav>
        <a href="{{ url_for('search') }}">カウント</a>
        <a href="/calendar">カレンダー</a>
        <a href="{{ url_for('index') }}">設定</a>  
        <a href="/logout" class="logout-btn">ログアウト</a>
        {% if session["username"] %}
        <span>👤 {{ session["username"] }}</span>
        {% endif %}
    </nav>
</header>

<div class="container">
    {% block content %}{% endblock %}
</div>

</body>

</html>


