{% extends "base.html" %}

{% block content %}

<h2>写真登録</h2>



<form method="POST" enctype="multipart/form-data" class="upload-form">

<input type="text"
       name="photo_id"
       placeholder="13桁のID"
       maxlength="13"
       pattern="\d{13}"
       required>

<input type="file"
       name="photo"
       required>

<button type="submit">登録</button>

</form>

<p　class = warning>許可されいない変更を加えないで下さい</p>
<hr>

<h2>一覧</h2>

<div class="photo-grid">

{% for photo, total_count, today_count in photos %}

<div class="card">

<img src="{{ url_for('static', filename='uploads/' + photo.filename) }}">

<div class="card-body">

<p><strong>ID:</strong> {{ photo.id }}</p>

<form method="POST" action="{{ url_for('update_name', photo_id=photo.id) }}">
<p>商品名</p>
<input type="text"
       name="name"
       placeholder="商品名を入力"
       value="{{ photo.name or '' }}">
<button type="submit">保存</button>
</form>

<form method="POST" action="{{ url_for('update_color', photo_id=photo.id) }}">
<input type="text"
       name="color"
       placeholder="色を入力"
       value="{{ photo.color or '' }}">
<button type="submit">色保存</button>
</form>

<p><strong>検索回数:</strong><br>

総合：{{ total_count }} 回<br>
今日：{{ today_count }} 回</p>


</div>
</div>

{% endfor %}

</div>


{% endblock %}

