{% extends "base.html" %}

{% block content %}

<h2>カウント（13桁バーコード専用）</h2>

<input type="text"
       id="barcodeInput"
       placeholder="13桁の数字を入力"
       autofocus>

<hr>

{% if photo %}

<div class="search-card">

    <div class="search-card-inner">

        <!-- 左：情報 -->
        <div class="search-info">

            

            <p class = "name1">商品名＿＿＿＿:        {{ photo.name or "未設定" }}</p>

            <p class = "name1">色＿＿＿＿＿＿:             {{ photo.color or "未設定" }}</p>

            <p class = "name1">総合カウント回数:{{ total_count }}</p>

            <p class = "name1">今日カウント回数:{{ today_count }}</p>

        </div>

        <!-- 右：写真 -->
        <div class="search-image">

            <img src="{{ url_for('static', filename='uploads/' + photo.filename) }}">
              <p>ID：{{ photo.id }}</p>
        </div>

    </div>

</div>

{% endif %}

<script>
const input = document.getElementById("barcodeInput");

input.addEventListener("input", function(){

    this.value = this.value.replace(/[^0-9]/g,"");

    if(this.value.length === 13){
        window.location.href = "/search?keyword=" + this.value;
    }

});
</script>


{% endblock %}
